{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="alert text-center">
        <img class="mb-2" style="width: 5rem; height:5rem" src="{% static 'img/pay3.png' %}" alt="...">
        <h1>Payment Pending</h1>
        <p>Thank you for your payment. We are currently processing your transaction, and you will receive a confirmation email shortly once it has been completed. We appreciate your patience and will notify you as soon as the payment has been successfully processed.</p>
        <a href="{% url 'services' %}" class="btn btn-primary">Return to Services</a>
    </div>
</div>
{% endblock %}
