{% extends 'base.html' %}
{% load static %}
{% block title %} | Contact Us {% endblock %}

{% block content %}
<!-- Header Start -->
<div class="container-fluid hero-header bg-light py-5 mb-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <h1 class="display-4 mb-3 animated slideInDown">Contact Us</h1>
                <nav aria-label="breadcrumb animated slideInDown">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a style="color: #16d5ff;" href="{% url 'index' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                    </ol>
                </nav>
            </div>
            <div class="col-lg-6 animated fadeIn">
                <img class="img-fluid animated pulse infinite" style="animation-duration: 3s;" src="{% static 'img/Contact_Us.png' %}" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Header End -->


<!-- Contact Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-lg-6">
                <h1 class="display-6">Contact Us</h1>
                <p style="color: #16d5ff;" class="fs-5 mb-0">If You Have Any Query, Please Contact Us</p>
            </div>
            <div class="col-lg-6 text-lg-end">
                <a style="background-color: #16d5ff; color:#fff" class="btn py-3 px-4" >Say Hello</a>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-5 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <!-- <p class="mb-2">Our office:</p>
                <h4>123 Street, New York, USA</h4>
                <hr class="w-100">
                <p class="mb-2">Call us:</p>
                <h4>+012 345 6789</h4> -->
                <!-- <hr class="w-100"> 
                <p class="mb-2">Mail us:</p>
                <h4>Okaforambrose2020@gmail.com</h4>
                <hr class="w-100"> -->
                <!-- <p class="mb-2">Follow us:</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-square btn-primary rounded-circle me-2" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square btn-primary rounded-circle me-2" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square btn-primary rounded-circle me-2" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-square btn-primary rounded-circle me-2" href=""><i class="fab fa-linkedin-in"></i></a>
                </div> -->
            </div>
            <div class="col-lg-7 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <p class="mb-4">If you have any questions, feedback, or need assistance with our services, we're here to help! Please reach out to us using the form, and a member of our team will get back to you as soon as possible. We're committed to providing you with the best support and look forward to hearing from you</a>.</p>
                
                <!-- Alert Placeholder -->
                <div id="liveAlertPlaceholder"></div>

                <form id="contactForm" action="contact" method="POST" onsubmit="showAlert(event)">
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                        <input type="hidden" name="user_id" value="{{ user.id }}">
                    {% else %}
                        <input type="hidden" name="user_id" value="0}">
                    {% endif %}
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" name="name" placeholder="Your Name" {% if user.is_authenticated %} value="{{ user.first_name }} {{ user.last_name }}" {% endif %} required>
                                <label for="name">Your Name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" name="email"
                                placeholder="Your Email" {% if user.is_authenticated %} value="{{ user.email }}" {% endif %} required>
                            <label for="email">Your Email</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="number" class="form-control" name="phone" placeholder="Phone">
                                <label for="subject">Phone</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a message here"
                                    name="message" style="height: 150px"></textarea>
                                <label for="message">Message</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button style="background-color: #16d5ff; color:#fff" class="btn py-3 px-4" type="submit" value="send">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->

<!-- Script for Alert -->
<script>
    function showAlert(event) {
        event.preventDefault();  // Prevent the form from submitting immediately

        const alertPlaceholder = document.getElementById('liveAlertPlaceholder');

        const alert = (message, type) => {
            const wrapper = document.createElement('div');
            wrapper.innerHTML = [
                `<div class="alert alert-${type} alert-dismissible" role="alert">`,
                `   <div>${message}</div>`,
                '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
                '</div>'
            ].join('');

            alertPlaceholder.append(wrapper);

            // Remove the alert after 3 seconds
            setTimeout(() => {
                wrapper.remove();
                document.getElementById('contactForm').submit();  // Submit the form after alert disappears
            }, 5000);
        };

        alert('Thank you for contacting us! We will reach out to you soon.', 'success');
    }
</script>
{% endblock %}
